#canvas {
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
    	height: 250px;
   	width: 250px;
    	background-color: Gainsboro;
    	border-style:solid;
    	border-width:1px;
}
